node_modules
public
dist
build
generated
.next
.vscode
.generated
packages/**/src/index.ts
!packages/react-soda/src/index.ts
!packages/sdrr/src/index.ts
!packages/soda-array/src/index.ts
!packages/soda-coordinate/src/index.ts
!packages/soda-type/src/index.ts
!packages/soda-tailwind/src/index.ts
!packages/sdnext/src/index.ts